<app-navbar></app-navbar>
<div class="balloonLayout">
  <div id="balloon" #balloon>{{currentMultiplier.toFixed(2)}}X</div>
  <div class="pump" (click)="ballClick()">
    <span></span>
  </div>
</div>
@if(gameStart && !gameOver){
<div id="cashoutWindow" (click)="cashoutFun()">
  Cashout: {{potentialWinnings.toFixed(2)}}
</div>
}
@if(!gameStart && !gameOver){
<div class="profits">
  <span>You {{gameResult}}</span>
  <button (click)="tryAgain()">Try Again?</button>
</div>
}
@if (!gameStart && gameOver) {
<div id="overlay"></div>
<div id="ballzMenu">
  <div>
    <span>Bet:</span>
    <input id="typeIn" [(ngModel)]="betAmount" [min]="0.01" [max]="denar">
    <input type="range" step="0.1" [(ngModel)]="betAmount" [min]="0.01" [max]="denar">
  </div>
  <div>
    <span>Multiplier (1.1 - 2.0):</span>
    <input id="typeIn" [(ngModel)]="multiplier" [min]="1.1" [max]="2" step="0.1">
    <input type="range" [(ngModel)]="multiplier" [min]="1.1" [max]="2" step="0.1">
  </div>
  <button (click)="startGame()">OK</button>
</div>
}