

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: auto;
  overflow-x: hidden;
  position: fixed;
  display:flex;
  flex-direction: column;
  background-color: #0f1117;
  min-height: 100%;
}
